<p>Create Movie</p>


<h1 style="color:red">Reactive form</h1>

<form [formGroup]="movieform" (ngSubmit)="createMovie3()">

  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input id="title" name="title" type="text" class="form-control"  formControlName="title_">
    <p>{{movieform.value.title_}}</p>

    <div class="alert alert-danger" *ngIf="movieform.get('title_').invalid && movieform.get('title_').touched">
      <p *ngIf="movieform.get('title_')?.errors?.['required']"> Required places </p>
      <p *ngIf="movieform.get('title_')?.errors?.['minlength']"> Minimum  5 characters write </p>
    </div>

  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input  id="description" name="description" type="text" class="form-control"  formControlName="description_">
  </div>

  <div class="mb-3">
    <label for="imageUrl" class="form-label">Image Url</label>
    <input id="imageUrl" name="imageUrl" type="text" class="form-control"  formControlName="imageUrl_">
  </div>



  <div class="mb-3">
    <label for="categoryId" class="form-label">Category</label>
    <select id="categoryId" name="categoryId" class="form-select"  formControlName="categoryId_">
      <option value="-1"> Select category</option>
      <option *ngFor="let item of categories" [value]="item.id"> {{item.categoryname}}</option>
    </select>
  </div>

  <div class="mb-3" id="file-container">

    <input id="subimageUrl" name="subimageUrl" type="file" class="form-control"  formControlName="subimageUrl_"(change)="getfile($event)">

  </div>

  <div class="mb-3" *ngIf="file">



   <button (click)="file=undefined"> clear file </button>

   <br>

  </div>

  <button [disabled]="!isFormValid()" type="submit" class="btn btn-success">

     Create Movie

  </button>

  <button type="submit" (click)="ClearForm()" class="btn btn-warning">

    Clear

 </button>

</form>
